*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

@media only screen and(min-width:769px) {
	html,body {
		margin: auto;
		width: 500px;
	}
}

a {
	text-decoration: none;
}

i {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
}

li {
  list-style: none;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.clearfix{
    zoom: 1;
}

.slide-right-enter-active {
  transition: all .4s ease;
}
.slide-right-leave-active {
  transition: all .0 ease;
}
.slide-right-enter, .slide-right-active {
  transform: translateX(375px);
  opacity: 0;
}

.slide-left-enter-active {
  transition: all .4s ease;
}
.slide-left-leave-active {
  transition: all .0 ease;
}
.slide-left-enter, .slide-left-left-active {
  transform: translateX(-375px);
  opacity: 0;
}


